@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(to right, #06beb6, #48b1bf);
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom:  15px;
  font-size: 40px;
  letter-spacing: 5px;
  text-shadow:   0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 2555, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Conatiner */
.image-container {
  margin: 10px 30%;
  
}

.image-container img {
  width: 100%;
  margin-top: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
}

/* Meadia Query */
@media screen and (max-width: 600px){
  h1{
    font-size: 20px;
  }
  .image-container{
    margin: 10px;
  }
}